<h1 mat-dialog-title>{{this.data.type.id ? 'Edit' : 'Add'}}</h1>
<div mat-dialog-content>
  <form novalidate [formGroup]="printInfoTypeForm">
    <div class="add-essence-container">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="nameFC" maxlength="50"
          [ngClass]="{ 'border-danger': printInfoTypeForm.get('nameFC')!.hasError('required') && printInfoTypeForm.get('nameFC')!.touched }"
          required>
        <mat-error *ngIf="printInfoTypeForm.get('nameFC')!.hasError('required') && printInfoTypeForm.get('nameFC')!.touched">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput digitOnly autocomplete="off" placeholder="Code" formControlName="codeFC" maxlength="50"
          [ngClass]="{ 'border-danger': printInfoTypeForm.get('codeFC')!.hasError('required') && printInfoTypeForm.get('codeFC')!.touched }"
          required>
        <mat-error *ngIf="printInfoTypeForm.get('codeFC')!.hasError('required') && printInfoTypeForm.get('codeFC')!.touched">
          Code is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Short name" formControlName="shortNameFC" maxlength="50"
          [ngClass]="{ 'border-danger': printInfoTypeForm.get('shortNameFC')!.hasError('required') && printInfoTypeForm.get('shortNameFC')!.touched }"
          required>
        <mat-error *ngIf="printInfoTypeForm.get('shortNameFC')!.hasError('required') && printInfoTypeForm.get('shortNameFC')!.touched">
          Short name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Weight, kg" formControlName="weightFC" maxlength="50"
          [ngClass]="{ 'border-danger': printInfoTypeForm.get('weightFC')!.hasError('required') && printInfoTypeForm.get('weightFC')!.touched }"
          required>
        <mat-error *ngIf="printInfoTypeForm.get('weightFC')!.hasError('required') && printInfoTypeForm.get('weightFC')!.touched">
          Weight is required
        </mat-error>
        <mat-error *ngIf="printInfoTypeForm.get('weightFC')!.hasError('min') && printInfoTypeForm.get('weightFC')!.touched">
          Incorrect value
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelButton()">Cancel</button>
  <button mat-button (click)="onSaveButton()" [disabled]="printInfoTypeForm.invalid">
    {{this.data.type.id ? 'Edit' : 'Add'}}
  </button>
</div>