<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-lg">
        <mat-form-field>
          <input matInput placeholder="Name" [formControl]="nameFC" />
        </mat-form-field>
      </div>
      <div class="col-lg">
        <mat-form-field>
          <input matInput digitOnly autocomplete="off" placeholder="Code" [formControl]="codeFC" />
        </mat-form-field>
      </div>
      <div class="col-lg">
        <mat-form-field>
          <input matInput placeholder="City" [formControl]="cityFC" />
        </mat-form-field>
      </div>
    </div>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="search()">
        Apply filters
      </button>
      <button mat-raised-button color="primary" (click)="clearFilters()">
        Clear filters
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="!selectionMode" class="button-row">
  <button mat-raised-button color="primary" (click)="openEditDialog(undefined)">Add</button>
  <app-button-history></app-button-history>
</div>

<div class="mat-elevation-z8">
  <table mat-table matSort matSortActive="name" matSortDirection="desc" [dataSource]="dataSource$" class="data-table">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let type; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="footerColumns" [ngClass]="{'hidden': totalCount$ | async}"></tr>
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let type">{{ type.name }}</td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let type">{{ type.code }}</td>
    </ng-container>
    <ng-container matColumnDef="additionalCode">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Additional code</th>
      <td mat-cell *matCellDef="let type">{{ type.additionalCode }}</td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let type">{{ type.city }}</td>
    </ng-container>
    <ng-container matColumnDef="pickupPointType">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Pickup point type</th>
      <td mat-cell *matCellDef="let type">{{ type.pickupPointTypeName }}</td>
    </ng-container>
    <ng-container matColumnDef="Operations">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let type">
        <app-button-edit *ngIf="!selectionMode" (click)="openEditDialog(type)"></app-button-edit>
        <app-button-delete *ngIf="!selectionMode" (click)="openDeleteDialog(type)"></app-button-delete>
      </td>
    </ng-container>

    <ng-container matColumnDef="no_records">
      <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length" class="no-records">
        No records
      </td>
    </ng-container>
  </table>

  <mat-paginator showFirstLastButtons [pageSize]="pageSize" [length]="totalCount$ | async"
    [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>