<form name="Address" novalidate [formGroup]="addressFG">
  <div class="form-group row">
    <label class="col-form-label col-lg-3 text-right text-nowrap" for="region">
      <span>Region</span>
    </label>
    <div class="col-lg-7">
      <input type="text" class="form-control" name="region" maxlength="50" formControlName="regionFC">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 text-right text-nowrap" for="city">
      <span>City</span>
    </label>
    <div class="col-lg-7">
      <input type="text" class="form-control" name="city" maxlength="50" formControlName="cityFC">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 text-right text-nowrap" for="street">
      <span>Street</span>
    </label>
    <div class="col-lg-7">
      <input type="text" class="form-control" name="street" maxlength="50" formControlName="streetFC">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 text-right text-nowrap" for="house">
      <span>House</span>
    </label>
    <div class="col-lg-7">
      <input type="text" class="form-control" name="house" maxlength="10" formControlName="houseNumFC">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 text-right text-nowrap" for="building">
      <span>Building</span>
    </label>
    <div class="col-lg-7">
      <input type="text" class="form-control" name="building" maxlength="10" formControlName="buildNumFC">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 text-right text-nowrap" for="block">
      <span>Block</span>
    </label>
    <div class="col-lg-7">
      <input type="text" class="form-control" name="block" maxlength="10" formControlName="blockNumFC">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 text-right text-nowrap" for="zip">
      <span>Zip</span>
    </label>
    <div class="col-lg-7">
      <input type="text" class="form-control" name="zip" maxlength="10" formControlName="zipFC">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 text-right text-nowrap" for="oneLine">
      <span>OneLine</span>
    </label>
    <div class="col-lg-7">
      <textarea class="form-control" name="oneLine" maxlength="500" rows="3" formControlName="oneLineFC"></textarea>
    </div>
  </div>
</form>