<p>This is an Angular PWA application for demonstration purposes, representing table data with CRUD operations.</p>
<p>Backend:</p>
<ul>
  <li>NodeJS</li>
  <li>MongoDb</li>
  <li>Mongoose</li>
  <li><a href="https://github.com/galimrish/node-rest-api" target="_blank">Github link</a></li>
</ul>
<p>Frontend:</p>
<ul>
  <li>Angular</li>
  <li>Angular Material</li>
  <li>NgRx</li>
  <li>Bootstrap</li>
  <li><a href="https://github.com/galimrish/angular-ui" target="_blank">Github link</a></li>
</ul>